# BoxLang Desktop Starter
APPNAME=BoxLang Starter Desktop
ENVIRONMENT=development

# Vite integration
VITE_HOST=127.0.0.1:3000
VITE_PROTOCOL=http

# BoxLang MiniServer overrides
BOXLANG_MINISERVER_HOST=127.0.0.1
BOXLANG_MINISERVER_PORT=59700
BOXLANG_MINISERVER_WEBROOT=public
BOXLANG_MINISERVER_SERVER_HOME=.miniserver/home
BOXLANG_MINISERVER_REWRITES=true
BOXLANG_MINISERVER_DEBUG=false

# Application data
BOXLANG_DB_PATH=./.database/boxlangDB
